<div class="row">
    <img src="https://mma.prnewswire.com/media/484355/Observables_Logo.jpg?p=facebook" class="img-rounded"
        style="width:250px; height: 150px;">
</div>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Finite Observable ending Completed</h5>
                <p class="card-text" *ngFor="let name of finiteObservable$ | async">{{name}}</p>
            </div>
        </div>
    </div>
     <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Finite Observable ending with Error</h5>
                <p class="card-text" >Counter:{{counter}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Infinite Observable</h5>
                <button type="button" class="btn btn-primary" (click)="Subscribe()">Subscribe</button>
                <button type="button" class="btn btn-danger" (click)="UnSubscribe()">UnSubscribe</button>
                <p class="card-text" *ngFor="let name of fullnames">{{name}}</p>

            </div>
        </div>
    </div>
</div>