<h2>Make sure to run SignalR dotnet core inside the project first</h2>
<p>Enter the folder and run bash start.sh</p>
<p>If you have docker installer and running in your WSL it will automatically launch .net core container for you</p>
<h1>SignalR Table</h1>
<p>Open <a href="http://localhost:5185/swagger/index.html">Swagger</a> and post delete some users and see the table refresh in real time</p>
<div class="table-responsive-lg">
    <table class="table table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data$ | async; let i = index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.surname }}</td>
                <td>
                    <button class="btn btn-primary" (click)="edit(item)">Edit</button>
                    <button class="btn btn-danger" (click)="delete(item)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>